<div>
    <p style="text-align: center"><strong> Meraxes - A B2B Trading Platform </strong></p></div>

<p style="text-align: center">
    <strong>
Current User signed In: {{currentUser}}
    </strong>
</p>
<br>
<br>
<input type='radio' name='selector' (click)='navigateParticipantView()'>Participant - View &nbsp; &nbsp;

<input type="radio" name='selector' (click)='navigateAssetView()'>Asset - View &nbsp;&nbsp;

<input type="radio" name='selector' (click)='navigateMoneyTransfer()'>Money - Transfer &nbsp;&nbsp;

<input type="radio" name='selector' (click)='navigateAssetTransfer()'>Asset - Transfer &nbsp;
<br>
<br>

<router-outlet></router-outlet>
